body{
    background-color: #131f33;
}
.feature_image{
    display: flex;
    width: 100%;
    height: 400px;
}
#output{
    display: flex;
    width: 100%;
}
.imagehero{
    display: flex;
    width: 100%;
    height: 400px;
}
#createhero{
    background-color: #0005ff;
    color: white;
}
.card{
    color: white;
    background-color: #1e293c;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-clip: border-box;
}
